:root {
  --neutral-gray: #777;
  --light-gray: #ffffff;
  --hover-gray: #c2bfbf;
  --accent-color: #292a2a;
  --font-family: 'Inter', sans-serif;
  --font-size-large: 1.8rem;
  --font-size-medium: 1rem;
  --font-size-small: 0.875rem;
  --section-padding: 20px;
  --icon-size: 1.25rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--light-gray);
  color: var(--neutral-gray);
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
}

.App-header {
  margin: 0;
}

h1 {
  font-size: var(--font-size-large);
  font-weight: 300;
  margin-bottom: 20px;
  color: var(--neutral-gray);
}

h1 .highlight {
  font-weight: 400;
  color: var(--neutral-gray);
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.about-section {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: var(--font-size-medium);
  font-weight: normal;
  cursor: pointer;
  color: var(--neutral-gray);
  transition: color 0.3s ease;
}

.about-section:hover {
  color: var(--hover-gray);
}

.separator {
  display: inline-block;
  width: 1px;
  height: 26px;
  background-color: var(--neutral-gray);
}

.contact-icons .icon {
  font-size: var(--font-size-medium);
  margin: 0 10px;
  color: var(--neutral-gray);
  cursor: pointer;
  transition: color 0.3s ease;
}

.contact-icons .icon:hover {
  color: var(--accent-color);
}

.contact-icons a {
  color: inherit;
  text-decoration: none;
}

footer {
  margin-top: 30px;
  font-size: var(--font-size-small);
  color: var(--hover-gray);
}

.icon-link {
  text-decoration: none;
  color: inherit;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 12px; /* Increase padding for touch-friendly buttons */
  color: inherit;
}

.icon-button:hover .icon {
  color: var(--hover-gray);
}

.icon-button,
.contact-icons a {
  outline: none;
  text-decoration: none;
}

.icon-button:focus,
.contact-icons a:focus {
  outline: none;
  box-shadow: none;
}

.icon-button:active,
.contact-icons a:active {
  outline: none;
  box-shadow: none;
}

.icon {
  font-size: var(--icon-size);
  width: var(--icon-size);
  height: var(--icon-size);
  color: var(--neutral-gray);
  stroke-width: 1;
  transition: transform 0.3s ease, stroke-width 0.3s ease, color 0.3s ease;
}

.icon:hover {
  transform: scale(1.2);
  stroke-width: 2;
  color: #444;
}

.about-section-content {
  margin: 45px auto;
  font-size: var(--font-size-medium);
  font-weight: 300;
  line-height: 1.6;
  color: var(--neutral-gray);
  text-align-last: center; 
  -moz-text-align-last: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-section-style {
  margin-top: 15px;
  text-align: justify;
  max-width: 800px;
}

@media (max-width: 768px) {
  .icon-container {
    gap: 20px; /* Reduce gap for smaller screens */
  }

  h1 {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }

  .about-section-content {
    font-size: var(--font-size-small); /* Use smaller font size */
    margin: 30px auto; /* Adjust margin */
  }
}

@media (max-width: 480px) {
  .icon-container {
    gap: 10px; /* Further reduce gap for very small screens */
  }

  h1 {
    font-size: 1.2rem; /* Smaller font size for very small screens */
  }

  .about-section-content {
    font-size: 0.9rem; /* Smaller font size */
    margin: 20px auto; /* Adjust margin */
  }
}

@media (max-width: 320px) {
  .icon-container {
    gap: 5px; /* Further reduce gap for very small screens */
  }

  h1 {
    font-size: 1rem; /* Smaller font size for very small screens */
  }

  .about-section-content {
    font-size: 0.8rem; /* Smaller font size */
    margin: 15px auto; /* Adjust margin */
  }

  .icon {
    font-size: 0.8rem; /* Adjust icon size for very small screens */
  }
}
