:root {
  --neutral-gray: #777;
  --light-gray: #ffffff;
  --hover-gray: #c2bfbf;
  --accent-color: #292a2a;
  --font-family: 'Inter', sans-serif;
  --font-size-large: 1.8rem;
  --font-size-medium: 1rem;
  --font-size-small: 0.875rem;
  --section-padding: 20px;
  --icon-size: 1.25rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--light-gray);
  color: var(--neutral-gray);
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
}

h1 {
  font-size: var(--font-size-large);
  font-weight: 300;
  margin-bottom: 20px;
  color: var(--neutral-gray);
}

h1 .highlight {
  font-weight: 400;
  color: var(--neutral-gray);
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.about-section-content {
  font-size: var(--font-size-medium);
  font-weight: 300;
  line-height: 1.6;
  color: var(--neutral-gray);
  text-align-last: center; 
  -moz-text-align-last: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
